<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Login Employee</title>
</head>

<body>

	<div class="container">

		<h3>
			Login Failed. Incorrect Credentials! 
		</h3>
		<center>
			<a th:href="@{/customer/loginForm}" class="btn btn-success">Login Again</a> 
			<a th:href="@{/customer/home}" class="btn btn-info">Back to home page</a>
		</center>
	</div>
</body>

</html>










